body
{
  margin: 10px;
  padding: 0px;

  border-style: solid;
  border-color: black;
  border-width: 1px;

  color: black;
  background-color: white;

  font-size: 16px;
  font-family: serif, sans-serif;
}

h1
{
  border-bottom-style: solid;
  border-bottom-color: #6f6fab;
  border-bottom-width: 1px;

  font-size: 24px;
  text-align: left;
}

h2
{
  border-bottom-style: solid;
  border-bottom-color: #6f6fab;
  border-bottom-width: 1px;

  font-size: 20px;
  text-align: left;
}

h1:first-letter
{
  color: #6f6fab;
  background-color: white;

  font-size: 32px;
}

p
{
  margin-left: 5%;
  margin-right: 5%;

  text-indent: 5%;
  text-align: justify;
}

p:first-letter
{
  font-style: italic;
  font-size: 20px;
}

code
{
  font-family: courier, sans-serif;
}

.code
{
  border-style: solid;
  border-color: black;
  border-width: 1px;

  text-align: left;
  margin: auto;
  width: 75%;
}

th
{
  color: black;
  background-color: #d8d8fe;

  border-style: solid;
  border-color: black;
  border-width: 1px;
}

td
{ 
  text-align: right;
}

.header, .footer
{
  margin: 5px;
  padding: 5px;

  color: black;
  background-color: #d8d8fe;

  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.section
{
  padding: 10px;
}

.logo
{
  text-align: center;
}

.menu
{
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;

  border-style: solid;
  border-color: black;
  border-width: 1px;

  color: black;
  background-color: white;

  text-align: center;
}

.menu_item
{
  display: inline;

  padding: 5px;
}

.sudoku_selector
{ 
  text-align: center;
}

.sudoku_image
{ 
  text-align: center;
}

.links
{
  text-align: center;
}
